name: Dependencies registry configuration file

on: push

jobs:
  secure-install-dependencies:
    runs-on: ubuntu-latest
    
    steps:
        - name: Checkout code
          uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

        - name: Setup Node.js
          uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238

        - name: Install tools
          run: |
            npm install -g verdaccio npm-cli-login
        
        - name: Start Verdaccio
          run: |
            verdaccio &
            sleep 5
        
        - name: Login to Verdaccio (non-interactive)
          run: |
            npm-cli-login -u test -p test -e test@test.com -r http://localhost:4873
        
        - name: Pre-fetch and Cache Dependencies (The "Vetting" Step)
          run: |
            npm install react react-router --registry http://localhost:4873/

        - name: Clean Local Node Modules
          run: rm -rf node_modules package-lock.json
        
        - name: Install dependencies
          run: |
            npm install --package-lock-only --registry http://localhost:4873/
            npm ci --registry http://localhost:4873/

        - name: Verify Integrity
          run: |
            npm list react
            cat package-lock.json | grep "resolved" | grep "localhost:4873"