name: Gitleaks scan pipeline

on: push

jobs:
    secret-scan:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
          with:
            fetch-depth: 0

        - name: Gitleaks scan
          uses: gitleaks/gitleaks-action@186c3fea8923e06a92dc3806067ad6afaf53e754
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}