name: Install dependencies with package-lock file

on: push

jobs:
    install-dependencies:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238

            - name: Install dependencies from lockfile
              run: npm ci
