name: Isolated nodes for unreviewed code
on:
  pull_request:
  push:
    branches: main

jobs:
  test-sandbox:
    runs-on: ubuntu-latest

    environment: Sandbox

    permissions:
      contents: read
      pull-requests: none
      packages: none
      id-token: none

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238

      - name: Install tools
        run: |
            npm install -g verdaccio npm-cli-login
        
      - name: Start Verdaccio
        run: |
            verdaccio &
            sleep 5
        
      - name: Login to Verdaccio (non-interactive)
        run: |
            npm-cli-login -u test -p test -e test@test.com -r http://localhost:4873
        
      - name: Publish internal-logger
        working-directory: ./internal-logger
        run: |
          npm publish --registry http://localhost:4873
          
      - name: Pre-fetch and cache dependencies
        run: |
            npm install

      - name: Clean local modules
        run: rm -rf node_modules

      - name: Run untrusted code
        run: |
          npm ci
          npm test

  deploy-production:
    needs: test-sandbox

    if: github.ref == 'refs/heads/main'

    runs-on: ubuntu-latest

    environment: Production

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238

      - name: Install tools
        run: |
            npm install -g verdaccio npm-cli-login
        
      - name: Start Verdaccio
        run: |
            verdaccio &
            sleep 5
        
      - name: Login to Verdaccio (non-interactive)
        run: |
            npm-cli-login -u test -p test -e test@test.com -r http://localhost:4873

      - name: Publish internal-logger
        working-directory: ./internal-logger
        run: |
            npm publish --registry http://localhost:4873

      - name: Pre-fetch and cache dependencies
        run: |
            npm install internal-logger
            npm ci

      - name: Authorized deploy
        run: |
          npm start
          echo "Deploy to production"