name: Least privilege and least access
on:
  pull_request:
  push:
    branches: main

jobs:
    debug:
        runs-on: ubuntu-latest

        environment: Test

        permissions:
            contents: read
            pull-requests: none
            packages: none
            id-token: none
        
        steps:
            - name: Debug
              env:
                DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
              run: |
                echo "Debugging the application"
                echo "Deploy token: $DEPLOY_TOKEN"
            

    test:
        runs-on: ubuntu-latest

        environment: Test

        permissions:
            contents: read
            pull-requests: none
            packages: none
            id-token: write
        
        steps:
            - name: Test
              env:
                DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
              run: |
                echo "Testing the application"
                echo "Deploy token: $DEPLOY_TOKEN"