name: Limited scope 3rd parties and least privilege
on:
  pull_request:
  push:
    branches: main

jobs:
    test-with-third-party:
        runs-on: ubuntu-latest

        environment: Test

        permissions:
            contents: read
            pull-requests: none
            packages: none
            id-token: write
        
        steps:
            - name: Get Id Token
              uses: actions/github-script@v8
              id: idtoken
              with:
                script: |
                    const coredemo = require('@actions/core')
                    let id_token = await coredemo.getIDToken()
                    coredemo.setOutput('id_token', id_token)
                    
            - name: Test
              env:
                DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
              run: |
                echo "Testing the application"
                echo "Deploy token: $DEPLOY_TOKEN"